### Package

The goal of the [Package Group](https://about.gitlab.com/handbook/engineering/development/ops/package/) is to build a product, that within three years, is our customer's single source of truth for storing and distributing images and packages.

#### Do customers want this?

Yes. As the PM for the Package stage, I hear regularly from customers and prospects that would like to migrate off of Jfrog's Artifactory. Their reasons for wanting to consolidate on GitLab are:
1. Convenience (authentication, management, improved UX)
1. Cost
1. Lack of support (getting to meet with GitLab PMs is a big + for these folks)

Typically the needs of these customers can be predictably segmented by the size of their organization. For the sake of simplicity, let's classify their needs as `enterprise` and `non-enterprise`.

##### Non-enterprise organizations

Typically they’d like to know if we support format `x` and if not when will we support it. The formats that we don’t support that we hear most often are:

- [RubyGems](https://gitlab.com/groups/gitlab-org/-/epics/3200)
- [Debian](https://gitlab.com/gitlab-org/gitlab/-/issues/5835)
- [RPM](https://gitlab.com/groups/gitlab-org/-/epics/5128)

_(All of the above will be useful for ~Dogfooding as well)_

If we support their requested format, these customers are often able to consolidate.

They are typically blocked by issues and bugs that are fairly straightforward to address. They are most likely to engage in issues or on Twitter. They may use a [single project as their universal registry](https://docs.gitlab.com/ee/user/packages/workflows/project_registry.html). They are concerned about inconsistent token support, storage costs, and management.

##### Enterprise organizations

Typically the types of questions we hear depend on how far along the customer is in their evaluation of GitLab. Early on, we typically hear requests for new formats, mainly Linux packages. But, the fact that we support Maven, NPM, PyPI, generic and NuGet packages is usually enough to get them started. As they progress, we are more likely to hear that they need our existing integrations to be more fully-featured. Artifactory offers a feature (virtual registries) that allows you to publish, proxy, and cache multiple package repositories behind a single, logical URL. Without supporting this, no large organization will be able to migrate from Artifactory to GitLab.

This is where bringing together the Dependency Proxy and Package Registry is critical. Our vision to [make the Dependency Proxy a `Complete`](https://gitlab.com/groups/gitlab-org/-/epics/2920), captures the core requirements required to help these customers consolidate on GitLab.

#### Other considerations

Much of what has been mentioned has been focused on helping customers to replace Artifactory or Nexus. But there are other, compelling considerations.

##### Container Registry

Every day the registry is used to publish and install images. On GitLab.com, we see an average of nearly 200k images published per day. In the past year, we've primarily focused on [GitLab-#2313](https://gitlab.com/groups/gitlab-org/-/epics/2313), which will add zero downtime garbage collection, saving GitLab.com and our users running their own self-managed instance of GitLab tens of thousands of dollars per month.

Beyond garbage collection, the above work will unblock features that have been blocked by the way Docker stores container image manifests. So, we have many months of feature requests and bugs that have been blocked by the aforementioned project.

This includes things like:
- [Making cleanup policies work seamlessly](https://gitlab.com/groups/gitlab-org/-/epics/2270)
- [Improving the usability and performance of the user interface](https://gitlab.com/groups/gitlab-org/-/epics/3211)

Support for signing images, tag immutability, and making it easier to contribute are all part of the [make the container registry complete](https://gitlab.com/groups/gitlab-org/-/epics/2899) epic.

In addition, we are starting to hear requests for more enterprise-focused features like [HA and multi-cloud registry mirroring](https://gitlab.com/groups/gitlab-org/-/epics/4946).

##### New categories

The Package group also owns the Release Evidence and Dependency Firewall categories. Though less requested from customers, these will be key components in replacing Artifactory for large enterprises, who may also be using Jfrog's [X-Ray](https://jfrog.com/xray/) and [Distribution](https://jfrog.com/distribution/).

Consider reviewing the category-specific direction pages, which contain more details about what's next and why.

#### Package Stage Categories
<%= partial("direction/categories-content", :locals => { :stageKey => "package" }) %>

#### Pricing
<%= partial("direction/ops/tiering/package") %>
