%div#sticky-toast.privacy-announcement
  .hero-content
    We've updated our terms and policies, including the
    %a{:href => "/privacy/", :target => "_blank"} Privacy Policy
    and
    %a{:href => "/handbook/legal/subscription-agreement/", :target => "_blank"} Subscription Agreement
    You can find all updated terms at the
    %a{:href => "/terms/", :target => "_blank"} Terms of Use
    and read about the updates at the
    %a{:href => "/privacy/2021-update-faq/", :target => "_blank"} FAQ
    for a summary of these changes.
  #dismiss-toast
    = partial "/images/icons/x-current-color.svg"


:sass
  #sticky-toast.privacy-announcement
    display: none
    background: #FFFFFF
    padding: 16px 32px 16px 16px
    position: fixed
    bottom: 16px
    right: 32px
    z-index: 101
    width: 350px
    border-top: 2px solid #FA7035
    border-radius: 0px 0px 4px 4px
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08)

    .hero-content
      margin: 0
      text-align: left
      font-size: 14px
      color: #000
    a
      color: #000
      text-decoration: underline

  #dismiss-toast
    width: 32px
    height: 32px
    line-height: 0
    padding: 1rem
    cursor: pointer
    position: absolute
    right: 8px
    top: 8px

  @media all and (max-width: 542px)
    #sticky-toast.privacy-announcement
      right: 16px
      width: calc(100% - 32px)
      font-size: 12px



:javascript
    (function() {
        document.addEventListener("load", (e) => {
            if (!localStorage.getItem("showPrivacyBanner") || localStorage.getItem("showPrivacyBanner") === "true") {
                document.getElementById("sticky-toast").style.display = "inline";
            }
        })

        document.getElementById("dismiss-toast").addEventListener("click", dismissTrial)
        function dismissTrial() {
            localStorage.setItem("showPrivacyBanner", false);
            document.getElementById("sticky-toast").style.display = "none";
        }
    })();

